* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    gap: 30px;
}

.texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: baseline;
}

.texto p {
    color: #b1b1b1;
}

.contenedor-targetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.targetas {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 200px;
    height: fit-content;
    min-width: 170px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 5px;
}

.imagen {
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.imagen img {
    width: 100%;
    height: 10%;
}

.contenido-inferior {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.contenido-inferior p {
    width: 90%;
}

.ver-mas {
    width: 90%;
    background-color: black;
    color: white;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
}